.logo {
    margin-right: auto;
    text-decoration: none;
    font-weight: bold;
    color: var(--main-font);
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--default-size) * 3);
}

.logoType {
    padding: var(--default-size) calc(var(--default-size) * 2);
    background: var(--accent-color);
    color: var(--bg-color);
    height: 100%;
    display: flex;
    align-items: center;
}

.innerHeader {
    padding: calc(var(--default-size) * 4) calc(var(--default-size) * 4);
}

.topMenu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.topMenuItem a {
    color: var(--accent-color);
    text-decoration: none;
    padding: var(--default-size) 0;
    display: block;
}

.topMenuItem:not(:last-child) {
    margin-right: calc(var(--default-size) * 4);
}

.topMenuItem:hover a {
    background: var(--accent-color-hover);
}

.secondaryLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {
    .logo {
        display: none;
    }

    .innerHeader {
        border-bottom: 1px solid var(--accent-color);
        margin-bottom: calc(var(--default-size) * 4);
        left: 0;
        right: 0;
        position: fixed;
        top: 0;
        background: var(--bg-color);
        z-index: 3;
        max-height: var(--header-height);
        padding: 0 1rem;
    }
}


@media (max-width: 414px) {
    .innerHeader {
        padding: calc(var(--default-size) * 1);
    }
}