.shortWrapper {
  list-style: none;
  margin: 0;
  padding: calc(var(--default-size) * 2) 0;
  border-bottom: thin dotted var(--page-caption-border);
  display: flex;
  justify-content: space-between;
}

.shortWrapper a {
  text-decoration: none;
}

.date {
  color: var(--page-caption);
}
