.wrapper {
  font-size: calc(var(--default-size) * 4.5);
  line-height: 1.6;
  padding: calc(var(--default-size) * 4) calc(var(--default-size) * 6);
  border-radius: calc(var(--default-size) * 2);
  background: var(--embedded-bg);
}

.wrapper h1 {
  font-size: calc(var(--default-size) * 6);
}

.wrapper h2 {
  font-size: calc(var(--default-size) * 5);
}

.wrapperList {
  padding-bottom: calc(var(--default-size) * 6);
  margin-bottom: calc(var(--default-size) * 4);
}

.wrapperEmbedded {
  border-left: var(--default-size) solid var(--accent-color);
  padding-left: calc(var(--default-size) * 6);
}

.wrapper h2 {
  line-height: 1;
}

.wrapper p {
  margin: calc(var(--default-size)) 0;
}

.wrapper blockquote {
  margin: calc(var(--default-size) * 2) 0;
}

.wrapper :global(.embedded-object) {
  margin: calc(var(--default-size) * 3) 0;
}

.infoWrapper {
  display: flex;
  align-items: center;
  font-size: calc(var(--default-size) * 4);
  justify-content: space-between;
  margin-top: calc(var(--default-size) * 4);
  line-height: 1.2;
}

.postData {
  padding-right: calc(var(--default-size) * 2);
  text-align: right;
}

.postInfo {
  display: flex;
}

.slug {
  width: 180px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 900px) {
  .author {
    display: none;
  }

  .infoWrapper {
    flex-direction: column;
    align-items: flex-end;
  }

  .postData {
    padding: 0;
    padding-top: calc(var(--default-size) * 2);
  }
}
