:root {
  
  --white-color: #fafaf8;

  --violet-color: #842D72;
  --soft-violet: #A36FE6;
  --light-violet: #B57BFF;
  --light-blue-magenta: #c495ff;
  --very-light-blue-magenta: #F0E5FF;
  --light-magenta: #FFA7FF;

  --hot-pink-color: #EE316B;

  --teal-color: #17B1B1;
  --light-teal-color: #D1EFEF;

  --black-color: #030303;

  --blue-color: #5393fe;
  --light-blue-color: #e3efff;
  --cyan-blue-color: #73abff;
  --subtle-blue-color: #f6f8fa;
  --deep-blue-color: #3b47a8;

  --green-color: #6CBB47;
  --light-green-color: #E2F1DA;

  --orange-color: #F46B3F;
  --light-orange-color: #FDE1D9;


  --default-size: 4px;

  --main-font: var(--black-color);
  --bg-color: var(--white-color);

  --accent-color: var(--soft-violet);

  --blockquote-bg-color: var(--subtle-blue-color);


  --button-color: var(--accent-color);
  --button-color-active: var(--accent-color);

  --read-link-color: var(--accent-color);
  --read-link-color-active: var(--accent-color);

  --tag-1: #A36FE6;
  --tag-1-hover-bg: #d3bfec;

  --tag-2: #F668C6;
  --tag-2-hover-bg: #ffcfef;

  --tag-3: #FF779B;
  --tag-3-hover-bg: #f7adc1;

  --tag-4: #FF9E74;
  --tag-4-hover-bg: #fdc8b0;

  --tag-5: #FFCC5F;
  --tag-5-hover-bg: #fde3ab;

  --tag-6: #F9F871;
  --tag-6-hover-bg: #f7f7cc;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
  color: var(--main-font);
}

blockquote {
  padding: 1rem;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0.25rem solid var(--accent-color);
  background-color: var(--blockquote-bg-color);
  color: #24292f;
}

.page blockquote > p {
  margin: 0;
}

hr {
  border-bottom: 0.25rem solid var(--accent-color);
  margin: calc(var(--default-size) * 15) auto;
}

.full-page {
  background-color: var(--bg-color);
}

.inner {
  padding: calc(var(--default-size) * 4) calc(var(--default-size) * 7);
  margin-left: auto;
  margin-right: auto;
}

.inner--sm {
  max-width: calc(var(--default-size) * 187);
  margin-left: auto;
  margin-right: auto;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--default-size) * 15) calc(var(--default-size) * 7);
}

.logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-font);
}

.logo--type {
  padding: calc(var(--default-size) * 1) calc(var(--default-size) * 2);
  background: var(--accent-color);
  color: var(--bg-color);
}

.top-menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.top-menu-item {
  margin-left: calc(var(--default-size) * 7);
}

.top-menu-item a {
  color: var(--accent-color);
  text-decoration: none;
  padding: calc(var(--default-size) * 1) calc(var(--default-size) * 2);
}

.top-menu-item--active a,
.top-menu-item:hover a {
    background:  var(--light-blue-color);
}

.headline {
  font-weight: bold;
  line-height: 1.4;
  margin: 0;
}

.headline--main {
  font-size: calc(var(--default-size) * 11);
}

.headline--second {
  font-size: calc(var(--default-size) * 9);
}

.headline--third {
  font-size: calc(var(--default-size) * 6);
}

.headline--fourth {
  font-size: calc(var(--default-size) * 3);
}

.body {
  font-size: calc(var(--default-size) * 4.5);
  line-height: 1.6;
}

.body--secondary {
  font-size: calc(var(--default-size) * 4);
}

.block-headline {
  margin-bottom: calc(var(--default-size) * 4);
}

.block-headline--center {
  text-align: center;
}

.button {
  display: inline-block;
  border: 2px solid var(--button-color);
  padding: calc(var(--default-size) * 4) calc(var(--default-size) * 7);
  text-decoration: none;
  line-height: 1;
  font-weight: bold;
  color: var(--main-font);
}

.button:hover {
  background-color: var(--button-color);
  color: var(--bg-color);
}

.button:active {
  background-color: var(--button-color-active);
  border-color: var(--button-color-active);
}

.block-info {
  display: flex;
  align-content: center;
  margin-bottom: calc(var(--default-size) * 4);
}

.block-info--sm {
  margin-bottom: calc(var(--default-size) * 2);
}

.text {
  padding: var(--default-size);
}

.text--violet {
  background-color: var(--very-light-blue-magenta);
  color: var(--soft-violet);
}

.text--teal {
  background-color: var(--light-teal-color);
  color: var(--teal-color);
}

.text--orange {
  background-color: var(--light-orange-color);
  color: var(--orange-color);
}

.text--blue {
  background:  var(--light-blue-color);
  color: var(--deep-blue-color);
}

.block-theme {
  margin-bottom: calc(var(--default-size) * 10);
}

.read-link a {
  color: var(--read-link-color);
}

.read-link:hover {
  text-decoration: none;
}

.read-link:active {
  color: var(--read-link-color-active);
}

.articles-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.block-article {
  margin-bottom: calc(var(--default-size) * 10);
}

.block-buttons--centered {
  text-align: center;
}

.main-article,
.latest-articles,
.categories-list {
  margin-bottom: calc(var(--default-size) * 15);
}

.links-list {
  list-style: none;
  display: flex;
}

.tag-link,
.category-link {
  margin-right: calc(var(--default-size) * 2);
}

.tags-list {
  margin-bottom: calc(var(--default-size) * 20);
}

.page {
  font-size: calc(var(--default-size) * 4.5);
  line-height: 1.5;
}

.page__headline {
  padding-top: calc(var(--default-size) * 10);
  padding-bottom: calc(var(--default-size) * 15);
}

.page p {
  max-width: calc(var(--default-size) * 187);
  margin: 16px auto;
}

.page__caption, .page__caption a {
  color: #656565;
  margin-top: calc(var(--default-size) * 2);
}

sup a, .data-footnote-backref {
  font-size: calc(var(--default-size) * 3);
  color: var(--accent-color);

}