:root {
  --violet-color: #842D72;
  --soft-violet: #A36FE6;
  --light-violet: #B57BFF;
  --light-blue-magenta: #c495ff;
  --very-light-blue-magenta: #F0E5FF;
  --light-magenta: #FFA7FF;

  --hot-pink-color: #EE316B;

  --teal-color: #17B1B1;
  --light-teal-color: #D1EFEF;

  --black-color: #030303;
  --bunker-color: #24292f;

  --blue-color: #5393fe;
  --light-blue-color: #e3efff;
  --cyan-blue-color: #73abff;
  --subtle-blue-color: #f6f8fa;
  --deep-blue-color: #3b47a8;

  --green-color: #6CBB47;
  --light-green-color: #E2F1DA;

  --orange-color: #F46B3F;
  --light-orange-color: #FDE1D9;
  --magnolia-color: #f8f0ff;
  --dark-cyan: #212a2e;


  --default-size: 4px;

  --main-font: var(--black-color);
  --bg-color: var(--white);

  --accent-color: var(--soft-violet);
  --accent-color-hover: var(--magnolia-color);

  --blockquote-bg-color: var(--subtle-blue-color);
  --blockquote-font-color: var(--bunker-color);


  --button-color: var(--accent-color);
  --button-color-active: var(--accent-color);

  --read-link-color: var(--accent-color);
  --read-link-color-active: var(--accent-color);

  --page-caption: #656565;

  --ochre: #c8a200;
  --coral-red: #fc402e;
  --misty-rose: #ffe4e1;
  --burnt-orange: #fa6200;
  --white: #ffffff;
  --white-secondary: #fafaf8;
  --light-salmon: #ffa07a;
  --rust: #7f2a0a;
  --medium-orchid: #ba55d3;
  --dark-violet: #9400d3;
  --pale-canary: #fff59d;
  --hot-pink: #ff69b4;
  --dodger-blue: #3ca5ec;
  --teal: #007f7f;
  --light-cyan: #e0ffff;
  --pure-apple: #6ab04c;
  --light-lime: #e3f1bb;

  --outline-border: #51a7e8;
}


html[data-theme='light'] {
  --main-font: var(--black-color);
  --bg-color: var(--white);
  --bg-color-secondary: var(--white-secondary);

  --accent-color: var(--soft-violet);
  --accent-color-hover: var(--magnolia-color);

  --blockquote-bg-color: var(--subtle-blue-color);
  --blockquote-font-color: var(--bunker-color);


  --button-color: var(--accent-color);
  --button-color-active: var(--accent-color);

  --read-link-color: var(--accent-color);
  --read-link-color-active: var(--accent-color);

  --page-caption: #656565;

  --toggler-bg: var(--accent-color);
  --toggler-border: var(--accent-color);
}

html[data-theme='dark'] {
  --main-font: #f7f8f8;
  --bg-color: var(--dark-cyan);
  --bg-color-secondary: #29383f;

  --accent-color: var(--light-violet);
  --accent-color-hover: var(--magnolia-color);

  --blockquote-bg-color: var(--bg-color-secondary);
  --blockquote-font-color: var(--main-font);

  --button-color: var(--accent-color);
  --button-color-active: var(--accent-color);

  --read-link-color: var(--accent-color);
  --read-link-color-active: var(--accent-color);

  --page-caption: var(--main-font);

  --toggler-bg: var(--accent-color);
  --toggler-border: var(--accent-color);
}

#__next {
  overflow: hidden;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
  color: var(--main-font);
  background-color: var(--bg-color);
}

blockquote {
  padding: 1rem;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0.25rem solid var(--accent-color);
  background-color: var(--blockquote-bg-color);
  color: var(--blockquote-font-color);
}

.page blockquote > p {
  margin: 0;
}

pre {
  overflow-y: scroll;
}

hr {
  border-bottom: 0.25rem solid var(--accent-color);
  margin: calc(var(--default-size) * 15) auto;
}

.inner {
  padding: calc(var(--default-size) * 8) calc(var(--default-size) * 14);
  margin-left: auto;
  margin-right: auto;
}

.inner--sm {
  max-width: calc(var(--default-size) * 187);
  margin-left: auto;
  margin-right: auto;
}

.inner-header {
  display: flex;
  justify-content: flex-end;
  padding: calc(var(--default-size) * 15) calc(var(--default-size) * 7);
}

.logo {
  margin-right: auto;
  text-decoration: none;
  font-weight: bold;
  color: var(--main-font);
}

.logo--type {
  padding: calc(var(--default-size) * 1) calc(var(--default-size) * 2);
  background: var(--accent-color);
  color: var(--bg-color);
}

.top-menu {
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: calc(var(--default-size) * 7);
  list-style: none;
}

.top-menu-item {
  margin-left: calc(var(--default-size) * 7);
}

.top-menu-close {
  display: none;
  transform: translateY(6px);
  padding: 18px 0;
  align-self: center;
}

.top-menu-item a {
  color: var(--accent-color);
  text-decoration: none;
  padding: calc(var(--default-size) * 1) calc(var(--default-size) * 2);
}

.top-menu-item--active a,
.top-menu-item:hover a {
    background:  var(--accent-color-hover);
}

.headline {
  font-weight: bold;
  line-height: 1.4;
  margin: 0;
}

.headline--main {
  font-size: calc(var(--default-size) * 11);
}

.headline--second {
  font-size: calc(var(--default-size) * 9);
}

.headline--third {
  font-size: calc(var(--default-size) * 6);
}

.headline--fourth {
  font-size: calc(var(--default-size) * 3);
}

.body {
  font-size: calc(var(--default-size) * 4.5);
  line-height: 1.6;
}

.body--secondary {
  font-size: calc(var(--default-size) * 4);
}

.block-headline {
  margin-bottom: calc(var(--default-size) * 4);
}

.block-headline--center {
  text-align: center;
}

.button {
  display: inline-block;
  border: 2px solid var(--button-color);
  padding: calc(var(--default-size) * 4) calc(var(--default-size) * 7);
  text-decoration: none;
  line-height: 1;
  font-weight: bold;
  color: var(--main-font);
}

.button:hover {
  background-color: var(--button-color);
  color: var(--bg-color);
}

.button:active {
  background-color: var(--button-color-active);
  border-color: var(--button-color-active);
}

.block-info {
  display: flex;
  align-content: center;
  margin-bottom: calc(var(--default-size) * 4);
}

.block-info--sm {
  margin-bottom: calc(var(--default-size) * 2);
}

.text {
  padding: var(--default-size);
}

.text--violet {
  background-color: var(--very-light-blue-magenta);
  color: var(--soft-violet);
}

.text--teal {
  background-color: var(--light-teal-color);
  color: var(--teal-color);
}

.text--orange {
  background-color: var(--light-orange-color);
  color: var(--orange-color);
}

.text--blue {
  background:  var(--light-blue-color);
  color: var(--deep-blue-color);
}

.block-theme {
  margin-bottom: calc(var(--default-size) * 10);
}

.read-link a {
  color: var(--read-link-color);
}

.read-link:hover {
  text-decoration: none;
}

.read-link:active {
  color: var(--read-link-color-active);
}

.articles-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.block-article {
  margin-bottom: calc(var(--default-size) * 10);
}

.block-buttons--centered {
  text-align: center;
}

.main-article,
.latest-articles,
.categories-list {
  margin-bottom: calc(var(--default-size) * 15);
}

.links-list {
  list-style: none;
  display: flex;
}

.tag-link,
.category-link {
  margin-right: calc(var(--default-size) * 2);
}

.tags-list {
  margin-bottom: calc(var(--default-size) * 20);
}

.page {
  font-size: calc(var(--default-size) * 5);
  line-height: 1.6;
}

.page__headline {
  padding-top: calc(var(--default-size) * 10);
  padding-bottom: calc(var(--default-size) * 15);
}

.page p {
  max-width: calc(var(--default-size) * 187);
  margin: 16px auto;
}

.page__caption, .page__caption a {
  color: var(--page-caption);
  margin-top: calc(var(--default-size) * 2);
}

sup a, .data-footnote-backref {
  font-size: calc(var(--default-size) * 3);
  color: var(--accent-color);

}

.mobile-theme-switcher {
  display: none;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--default-size) * 15) calc(var(--default-size) * 7);
}

@media (max-width: 900px) {
  .headline--main {
    font-size: 1.8rem;
  }
  .inner--sm {
    max-width: calc(var(--default-size) * 150);
  }
}

@media (max-width: 600px) {
  .inner--sm {
    max-width: calc(var(--default-size) * 100);
  }
}

@media (max-width: 414px) {
  #__next {
    overflow: hidden;
  }

  .page__headline {
    padding-bottom: calc(var(--default-size) * 7);
  }

  .page, .page p {
    font-size: calc(var(--default-size) * 4);
  }
  .inner {
    padding: calc(var(--default-size) * 4) calc(var(--default-size) * 7);
  }

  .inner--sm {
    max-width: calc(var(--default-size) * 80);
  }

  .top-menu {
    visibility: hidden;
    right: -140px;
    transition: all 0.250s ease-out;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    bottom: 0;
    background: var(--bg-color-secondary);
    box-shadow: calc(var(--default-size) * 3) 0px calc(var(--default-size) * 5) var(--black-color);
    z-index: 1;
    margin: 0;
  }

  .top-menu-close {
    display: block;
  }

  .top-menu--opened {
    right: 0;
    visibility: visible;
  }

  .top-menu__item {
    margin: 0;
    text-align: center;
  }

  .top-menu__item a {
    padding: calc(var(--default-size) * 3) calc(var(--default-size) * 5);
    display: block;
    margin: 0;
  }

  .desktop-theme-switcher {
    display: none;
  }

  .mobile-theme-switcher {
    display: block;
    align-self: center;
    padding: calc(var(--default-size) * 3) calc(var(--default-size) * 5);
  }

  .inner-header {
    align-items: center;
    padding-bottom: calc(var(--default-size) * 7);
  }
}

@media (max-width: 280px) {
  .headline--main {
    font-size: 1.3rem;
  }
  .inner--sm {
    max-width: calc(var(--default-size) * 60);
  }
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

a, a:visited {
  color: var(--accent-color);
}